* {
    font-family: 'Nunito Sans', sans-serif;
}

.first {
  text-align: left;
}

.second {
  text-align: center;
}

.third {
  text-align: right;
}

.table {
    margin-left: 10px;
    text-transform: none !important;
}

.table-heading {
    font-size: 14px;
    font-weight: 700;
    opacity: 50%;
    color: #061058 !important;
}

.table-row {
    font-size: 12px;
    color: #061058 !important;
}

.div1 {
    border-radius: 24px;
    border: 1px solid rgba(205, 208, 227, 0.3);
    margin-left: 20px;
}

.heading {
    margin-left: 10px;
    margin-top: 20px;
    color:#49A2D7;
    font-size: 16px;
}

.icon {
    margin-top: 20px;
    margin-right: 5px;
}

.image {
    width: 50px; 
    height: 50px; 
    padding: 15px; 
    border-radius: 20px;
    background: linear-gradient(180deg, #FFEAE3 0%, #FFD0C2 100%,);
}

.text1 {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #061058;
    opacity: 50%;
}

.text2 {
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 500;
    color: #061058;
    margin-top: -10px;
}

.div2 {
    border-radius: 24px;
    border: 1px solid rgba(205, 208, 227, 0.3);
    margin-left: 20px;
    width: 347px;
    margin-bottom: 40px;
}

.image1 {
    width: 50px; 
    height: 50px; 
    padding: 15px; 
    border-radius: 20px;
    background: linear-gradient(180deg, #F4FAFF 0%, #E5F3FF 100%,);
}


.container1 {
    background-color: rgb(192, 192, 192);
    width: 588px;
    height: 5px;
    border-radius: 15px;
 }
      
.skill1 {
    background-color: #49A2D7;
    color: white;
    text-align: right;
    font-size: 20px;
    border-radius: 15px;
    height: 5px;
}
      
.html1 {
    width: 80%;
}

.task {
    color:#49A2D7 !important;
    font-size: 13;
    font-weight: 400;
}

.task1 {
    color:#49A2D7 !important;
    font-size: 13;
    font-weight: 400;
}
      
.smalldiv {
    margin: 0px 0px 10px 20px;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
    border-radius: 3px;
    padding: 10px
}

.cl1 {
    color: #4C5862;
    font-weight: 500;
    font-size: 14;
}

.cl2 {
    color: #90A0B7;
    font-weight: 500;
    font-size: 12px;
}

.cl3 {
    color: #4C5862;
    font-weight: 500;
    font-size: 12px;
    opacity: 50%;
}

.cl4 {
    color: #4C5862;
    font-weight: 400;
    font-size: 13px;
    opacity: 100%;
}

.cl5 {
    margin-top: -8px;
    margin-left: 10px;
    color: #707683;
    font-weight: 400;
    font-size: 13px;
}

.completed {
    border: none;
    outline: none;
    background: #49A2D7;
    color: white;
    border-radius: 4px;
    font-size: 12px;
    width: 80px;
}

.ended {
    border: none;
    outline: none;
    background: #F7685B;
    color: white;
    border-radius: 4px;
    font-size: 12px;
    width: 80px;
}