<div class="content-wrap">

    <main id="content" class="content table-padding" role="main">
        <div>
            <div class="div1" style="float: left; width: 50%;">
                <p class="heading" style="float: left;">OutStanding BOE</p>
                <p class="icon" style="float: right;"></p>
                <table class="table " style="width: 95%;">
                    <thead>
                        <tr class="text-muted table-heading">
                            <th class="first" scope="col">Items</th>
                            <th class="second">Total Payable</th>
                            <th class="second">Currency</th>
                            <th class="third">Amount</th>
                        </tr>
                    </thead>
                    <tbody class="text-dark">
                        <tr class="table-row">
                            <td class="first">BOE For Tata consultancy</td>
                            <td class="second">5</td>
                            <td class="second">INR</td>
                            <td class="third">19.00</td>

                        </tr>
                        <tr class="table-row">
                            <td class="first">Pending from D8amatiks</td>
                            <td class="second">2</td>
                            <td class="second">GBP</td>
                            <td class="third">1990.00</td>

                        </tr>
                        <tr class="table-row">
                            <td class="first">BOE from SLBT</td>
                            <td class="second">5</td>
                            <td class="second">USD</td>
                            <td class="third">23011.00</td>

                        </tr>
                        <tr class="table-row">
                            <td class="first">UltraTech Mining</td>
                            <td class="second">5</td>
                            <td class="second">SGD</td>
                            <td class="third">674.00</td>

                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="div2" style="float: left;">
                <p class="heading" style="margin-left: 20px;">Report</p>
                <div>
                    <div style="float: left; margin-left: 20px;">
                        <img class="image" src="../../../assets/ic_mail-1.png" alt="">
                    </div>
                    <div style="float: left; margin-left: 20px; padding-right: 130px;">
                        <p style="margin-bottom: 0px;" class="text1">Total Received</p>
                        <p class="text2">$159.89</p>
                    </div>
                </div>
                <div>
                    <div style="float: left; margin-left: 20px;">
                        <img class="image1" src="../../../assets/ic_mail-1.png" alt="">
                    </div>
                    <div style="float: left; margin-left: 20px;">
                        <p style="margin-bottom: 0px;" class="text1">Total Payable</p>
                        <p class="text2">$159.89</p>
                    </div>
                </div>
            </div>
            <div>

            </div>
        </div>
        <div>
            <div class="div1" style="float: left; width: 50%; margin-right: 500px; margin-top: 40px;">
                <p class="heading" style="float: left;">OutStanding SB</p>
                <p class="icon" style="float: right;"></p>
                <table class="table " style="width: 95%;">
                    <thead>
                        <tr class="text-muted table-heading">
                            <th class="first" scope="col">Items</th>
                            <th class="second">Total Payable</th>
                            <th class="second">Currency</th>
                            <th class="third">Amount</th>
                        </tr>
                    </thead>
                    <tbody class="text-dark">
                        <tr class="table-row">
                            <td class="first">BOE For Tata consultancy</td>
                            <td class="second">5</td>
                            <td class="second">INR</td>
                            <td class="third">19.00</td>

                        </tr>
                        <tr class="table-row">
                            <td class="first">Pending from D8amatiks</td>
                            <td class="second">2</td>
                            <td class="second">GBP</td>
                            <td class="third">1990.00</td>

                        </tr>
                        <tr class="table-row">
                            <td class="first">BOE from SLBT</td>
                            <td class="second">5</td>
                            <td class="second">USD</td>
                            <td class="third">23011.00</td>

                        </tr>
                        <tr class="table-row">
                            <td class="first">UltraTech Mining</td>
                            <td class="second">5</td>
                            <td class="second">SGD</td>
                            <td class="third">674.00</td>

                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
        <div style="margin-top: 40px;">
            <div class="div1" style="float: left; width: 42%; margin-top: 40px;">
                <p class="heading" style="float: left;">Complaince: Bill of entry pending for payment >180 days</p>
                <p class="icon" style="float: right;"></p>
                <table class="table " style="width: 95%;">
                    <thead>
                        <tr class="text-muted table-heading">
                            <th class="first" scope="col">Party Name</th>
                            <th class="second">Currency</th>
                            <th class="third">Amount</th>
                        </tr>
                    </thead>
                    <tbody class="text-dark">
                        <tr class="table-row">
                            <td class="first">BOE For Tata consultancy</td>
                            <td class="second">INR</td>
                            <td class="third">19.00</td>

                        </tr>
                        <tr class="table-row">
                            <td class="first">Pending from D8amatiks</td>
                            <td class="second">GBP</td>
                            <td class="third">1990.00</td>

                        </tr>
                        <tr class="table-row">
                            <td class="first">BOE from SLBT</td>
                            <td class="second">USD</td>
                            <td class="third">23011.00</td>

                        </tr>
                        <tr class="table-row">
                            <td class="first">UltraTech Mining</td>
                            <td class="second">SGD</td>
                            <td class="third">674.00</td>

                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="div1" style="float: left; width: 42%; margin-top: 40px;">
                <p class="heading" style="float: left;">Shipping Bills above 21 days to be submitted to AD
                </p>
                <p class="icon" style="float: right;"></p>
                <table class="table " style="width: 95%;">
                    <thead>
                        <tr class="text-muted table-heading">
                            <th class="first" scope="col">Party Name</th>
                            <th class="second">Currency</th>
                            <th class="third">Amount</th>
                        </tr>
                    </thead>
                    <tbody class="text-dark">
                        <tr class="table-row">
                            <td class="first">BOE For Tata consultancy</td>
                            <td class="second">INR</td>
                            <td class="third">19.00</td>

                        </tr>
                        <tr class="table-row">
                            <td class="first">Pending from D8amatiks</td>
                            <td class="second">INR</td>
                            <td class="third">1990.00</td>

                        </tr>
                        <tr class="table-row">
                            <td class="first">BOE from SLBT</td>
                            <td class="second">INR</td>
                            <td class="third">23011.00</td>

                        </tr>
                        <tr class="table-row">
                            <td class="first">UltraTech Mining</td>
                            <td class="second">INR</td>
                            <td class="third">674.00</td>

                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
        <div>
            <div style="width: 588px;">
                <div style="float: left; margin-top: -37px; margin-bottom:5px; margin-left: 20px;">
                    <span class="task">8 task completed out of 10</span>
                </div>
                <div style="float: right; margin-top: -37px; margin-bottom: 5px; margin-left: 20px;">
                    Show: <span class="task1">This week</span>
                </div>
            </div>
            <div class="container1" style="margin: 82% 0px 0px 20px; ">
                <div class="skill1 html1">80%</div>
            </div>
        </div>
        <div style="margin: 20px;">
            <p>23 December, Sunday - 30 December, Sunday</p>
        </div>
        <div class="smalldiv" style="width: 588px;">
            <p class="cl1">Send BOE for Nikhil by Sunday <span style="text-align: right; margin-left: 280px;"
                    class="cl2">Reminder</span></p>
            <p class="cl3">Due date: <span style="text-align: right; margin-left: 30px;" class="cl4">December 20,
                    2018</span></p>
            <img src="./assets/images/cc1d1196dbafb374fe2d91e177dc16f8517532d6.png" height="35px" width="35px"
                style="border-radius: 50%; margin-bottom: 10px;"> <span class="cl5">Nicci Troiani</span> <span
                style="margin-left: 357px;"><button class="completed">Completed</button></span>
        </div>
        <div class="smalldiv" style="width: 588px;">
            <p class="cl1">Send BOE for Nikhil by Sunday <span style="text-align: right; margin-left: 280px;"
                    class="cl2">Reminder</span></p>
            <p class="cl3">Due date: <span style="text-align: right; margin-left: 30px;" class="cl4">December 20,
                    2018</span></p>
            <img src="./assets/images/cc1d1196dbafb374fe2d91e177dc16f8517532d6.png" height="35px" width="35px"
                style="border-radius: 50%; margin-bottom: 10px;"> <span class="cl5">Nicci Troiani</span> <span
                style="margin-left: 357px;"><button class="ended">Ended</button></span>
        </div>
        <div class="smalldiv" style="width: 588px;">
            <p class="cl1">Send BOE for Nikhil by Sunday <span style="text-align: right; margin-left: 280px;"
                    class="cl2">Event</span></p>
            <p class="cl3">Due date: <span style="text-align: right; margin-left: 30px;" class="cl4">December 20,
                    2018</span></p>
            <img src="./assets/images/cc1d1196dbafb374fe2d91e177dc16f8517532d6.png" height="35px" width="35px"
                style="border-radius: 50%; margin-bottom: 10px;"> <span class="cl5">Nicci Troiani</span> <span
                style="margin-left: 357px;"><button class="completed">Completed</button></span>
        </div>

    </main>
</div>