<div class="content-wrap">

    <main id="content" class="content table-padding" role="main">
        <div class="container-fluid">
            <div class="row no-gutter">
                <!-- The image half -->
                <!-- <div class="col-md-6 d-none d-md-flex bg-image"></div> -->


                <!-- The content half -->
                <div class="col-md-7 bg-dark">
                    <div class="login d-flex py-5" style="padding: 0px !important;">

                        <!-- Demo content-->
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-10 col-xl-7 mrg">
                                    <h6 class="display-5">Setup Company Details</h6>
                                    <p class="side1">Give us some of your information about your company</p>
                                    <form #values="ngForm" (ngSubmit)="onSubmit(values)">
                                        <div class="form-group mb-3">
                                            <label>Company Name</label>
                                            <input [(ngModel)]="item.teamName" name="teamName"
                                                placeholder="Company name/ Team name" required=""
                                                class="form-control rounded-pill">
                                        </div>

                                        <div class="form-group mb-3">
                                            <label>Importer exporter code (IEC)</label>
                                            <input [(ngModel)]="item.iec" name="iec" placeholder="Ex: ESEIEC."
                                                required="" class="form-control rounded-pill password password1">
                                        </div>
                                        <div class="form-group mb-3">
                                            <label>Company Address</label>
                                            <input [(ngModel)]="item.adress" name="adress"
                                                placeholder="Ex: street address, City. PIN" required=""
                                                class="form-control rounded-pill password password1">
                                        </div>
                                        <div class="form-group mb-3">
                                            <label>Contact Phone number</label>
                                            <input [(ngModel)]="item.phone" name="phone" id="password1" type=""
                                                placeholder="Ex: +91 95023 23352" required=""
                                                class="form-control rounded-pill password password1">
                                        </div>
                                        <div class="form-group mb-3">
                                            <label>CA email id</label>
                                            <p class="sl">Ex: CA email ID’s for submission of documents for documents
                                                like
                                                15B,annual statutory auditor certificate, write off etc.,</p>
                                            <input [(ngModel)]="item.caEmail" name="caEmail" id="password1" type=""
                                                placeholder="Ex: example@gmail.com" required=""
                                                class="form-control rounded-pill password password1">
                                        </div>
                                        <div class="form-group mb-3">
                                            <label>CHA email id</label>
                                            <input [(ngModel)]="item.chaEmail" name="chaEmail" id="password1" type=""
                                                placeholder="Ex: example@gmail.com" required=""
                                                class="form-control rounded-pill password password1">
                                        </div>
                                        <div class="form-group mb-3">
                                            <label>GSTIN</label>
                                            <input [(ngModel)]="item.gst" name="gst" id="password1" type=""
                                                placeholder="GSTIN" required=""
                                                class="form-control rounded-pill password password1">
                                        </div>
                                        <div class="form-group mb-3">
                                            <label>Account Number</label>
                                            <input [(ngModel)]="item.acNo" name="acNo" id="inputEmail" type="email"
                                                placeholder="Ex: CC/OD/PC/PCFC/EBRD/BP/EEFC-USD/EUR/GBP/CHF/JPY ETC"
                                                required="" class="form-control rounded-pill email">
                                        </div>

                                        <!-- <div class="form-group mb-3">
                                            <label>Letter Head</label> <br>
                                            <form method="POST">
                                                <div>
                                                    <input class="customfile1" (error)="onUploadError($event)"
                                                        placeholder="Choose File" (init)="onUploadInit($event)"
                                                        (success)="onUploadSuccess($event)"
                                                        (sending)="sending($event,'Letter Head')"
                                                        *ngIf="type === 'directive'" [dropzone]="config">
                                                    <p class="bottomText">Maximum size: 5MB</p>
                                                    <p class="bottomText" *ngIf="letterHead">Uploading...</p>
                                                    <p class="bottomText" *ngIf="letterHeadDone">Uploading Done</p>
                                                </div>


                                            </form>

                                        </div>
                                        <div class="form-group mb-3">
                                            <label>Round Seal</label><br>
                                            <form method="POST">
                                                <input class="customfile1" (error)="onUploadError($event)"
                                                    placeholder="Choose File" (init)="onUploadInit($event)"
                                                    (success)="onUploadSuccess($event)"
                                                    (sending)="sending($event,'Round Seal')"
                                                    *ngIf="type === 'directive'" [dropzone]="config">
                                                <p class="bottomText">Maximum size: 5MB</p>
                                                <p class="bottomText" *ngIf="roundSeal">Uploading...</p>
                                                <p class="bottomText" *ngIf="roundSealDone">Uploading Done</p>
                                            </form>
                                        </div>
                                        <div class="form-group mb-3">
                                            <label>For Seal</label><br>
                                            <form method="POST">
                                                <input class="customfile1" placeholder="Choose File"
                                                    (error)="onUploadError($event)" (init)="onUploadInit($event)"
                                                    (success)="onUploadSuccess($event)"
                                                    (sending)="sending($event,'For Seal')" *ngIf="type === 'directive'"
                                                    [dropzone]="config">
                                                <p class="bottomText">Maximum size: 5MB</p>
                                                <p class="bottomText" *ngIf="forSeal">Uploading...</p>
                                                <p class="bottomText" *ngIf="forSealDone">Uploading Done</p>
                                            </form>
                                        </div> -->

                                        <button type="submit" class="btn">Edit</button>
                                    </form>

                                </div>
                            </div>
                        </div><!-- End -->

                    </div>
                </div>

            </div>
        </div>
    </main>


</div>