* {
  font-family: "Poppins", sans-serif;
}
.heading {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #323e4a;
  padding-bottom: 30px !important;
  margin-bottom: 38px !important;
  padding-left: 35px;
  border-bottom: 1px solid #eaedf3;
}

.form {
  margin-left: 3%;
  margin-right: 5%;
  top: 50%;
  left: 50%;
  width: 85%;
  height: 300px;
  background-color: white;
  border: 2px dashed rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
  padding-top: 2%;
}

.form h5 {
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 1px;
}
.form p {
  font-family: "Poppins", sans-serif !important;
  width: 100%;
  height: 23px !important;
  text-align: center;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.3);
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 2%;
}

.form i {
  font-size: 35px;
  color: rgba(0, 0, 0, 0.2);
  margin-bottom: 2%;
}

.form input {
  font-family: "EuropaNuova-Regular", sans-serif !important;
  position: absolute;
  margin: 0;
  width: 75%;
  height: 221px;
  padding: 0;
  outline: none;
  opacity: 0;
}
.form button {
  //    margin-left: 42%;
  // margin-top: -30%;
  font-family: "Poppins", sans-serif !important;
  font-weight: 400;
  border: none;
  height: 52px;
  width: 160px;
  background-color: #ebebeb;
  padding-top: 1%;
  padding-bottom: 1%;
  border-radius: 6px;
  color: rgba(0, 0, 0, 0.6);
  outline: none;
  margin-bottom: 2px;
}
.form button:hover {
  background: #149174;
  color: #0c5645;
}
.form button:active {
  border: 0;
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.field {
  margin-top: 21px !important;
  background-color: #174d72;
  height: 116px !important;
  // width: 944px !important;
  padding: 21px;
  // margin-left: 35px !important;
  border-radius: 10px;
}

.field-heading {
  color: white !important;
  font-family: "Poppins", sans-serif !important;
  font-size: 16px;
}

.button {
  // margin-top: -30%;
  font-family: "Poppins", sans-serif !important;
  font-weight: 600;
  border: none;
  height: 42px;
  width: 160px;
  background-color: #49a2d7;
  border-radius: 4px;
  color: #ffffff;
  box-shadow: 0px 4px 10px 0px #49a2d7;
  outline: none;
}

.input {
  height: 46px;
  margin-right: 20px;
  width: 220px;
  border-radius: 8px;
  border: none;
  padding: 15px;
}

.input2 {
  height: 46px;
  margin-right: 20px;
  width: 290px;
  border-radius: 8px;
  border: none;
  padding: 15px;
}

.or {
  font-size: 16px;
  font-weight: 600;
  color: #9b9b9b !important;
  margin-bottom: 30px !important;
  margin-top: 30px !important;
}

.table-padding {
  background: white !important;
}

.small-input {
  width: 160px !important;
  height: 74px;
  margin-right: 20px;
  border: 1px solid #49a2d7;
  border-left: 3px solid #49a2d7;
  border-radius: 4px;
}

.page-content {
  max-width: 700px;
  margin: 32px auto;
  padding: 32px;
  background: #fff;
}
a {
  color: #21d4fd;
  transition: all 0.3s;
}
a:hover {
  color: #b721ff;
}

.tabbed {
  overflow-x: hidden; /* so we could easily hide the radio inputs */
  padding-bottom: 16px;
}

.tabbed [type="radio"] {
  /* hiding the inputs */
  display: none;
}

.tabs {
  display: flex;
  align-items: stretch;
  list-style: none;
  margin-bottom: 0px !important;
  padding-left: 0px;
}

.tab > label {
  display: block;
  margin-bottom: -1px;
  padding: 12px 15px;
  background-color: #c5e0f0;
  border-radius: 4px;
  color: #666;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s;
  margin-right: 10px;
}
.tab:hover label {
  border-top-color: #333;
  color: #333;
}

.tab-content {
  display: none;
  color: #777;
  background: #f8fafd;
  height: 112px;
  padding: 13px;
  width: 72%;
  padding-left: 0px !important;
  margin: 0px !important;
  border: 1px solid #ebeefe;
}

/* As we cannot replace the numbers with variables or calls to element properties, the number of this selector parts is our tab count limit */
.tabbed [type="radio"]:nth-of-type(1):checked ~ .tabs .tab:nth-of-type(1) label,
.tabbed [type="radio"]:nth-of-type(2):checked ~ .tabs .tab:nth-of-type(2) label,
.tabbed [type="radio"]:nth-of-type(3):checked ~ .tabs .tab:nth-of-type(3) label,
.tabbed [type="radio"]:nth-of-type(4):checked ~ .tabs .tab:nth-of-type(4) label,
.tabbed
  [type="radio"]:nth-of-type(5):checked
  ~ .tabs
  .tab:nth-of-type(5)
  label {
  border-radius: 4px;
  background: #49a2d7;
  color: white;
  margin-right: 10px;
}

.tabbed [type="radio"]:nth-of-type(1):checked ~ .tab-content:nth-of-type(1),
.tabbed [type="radio"]:nth-of-type(2):checked ~ .tab-content:nth-of-type(2),
.tabbed [type="radio"]:nth-of-type(3):checked ~ .tab-content:nth-of-type(3),
.tabbed [type="radio"]:nth-of-type(4):checked ~ .tab-content:nth-of-type(4) {
  display: block;
}

.form-wrapper {
  margin: 10px;
}
.full-input {
  margin-left: 18px;
  margin-bottom: 10px;
  display: inline-block;
  padding: 3px;
  height: 74px;
  //width: 150px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 4px 4px 8px 4px #eeeefa;
}

// .border1 {
//    border-left: 2px solid #49A2D7;

// }

.border1 {
  border-left: 3px solid #174d72;
}

.border2 {
  border-left: 3px solid #5fe6e7;
}

.border3 {
  border-left: 3px solid #e7845f;
}

.smalll-input {
  width: 140px !important;
  outline: none;
  border: none;
  display: block;
  border-radius: 4px;
  border: 1px solid #d5dbe8;
  height: 35px;
}
label {
  display: block;
  padding: 5px 0px 5px 5px;
  margin-bottom: 0px !important;
  font-size: 12px;
  font-weight: 500;
  color: #72768a;
}

.meter {
  margin-left: 35px;
  width: 80%;
  height: 4px; /* Can be anything */
  position: relative;
  background: #d8d8d8;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;

  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
}

.meter > span {
  display: block;
  height: 100%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #2992fc;
  background-image: linear-gradient(
    center bottom,
    rgb(43, 194, 83) 37%,
    rgb(84, 240, 84) 69%
  );
  box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3),
    inset 0 -2px 6px rgba(0, 0, 0, 0.4);
  position: relative;
  overflow: hidden;
}

.progressbar {
  height: 53px;
  margin-top: 60px;
}

.processheading {
  padding-left: 30px;
}

.sub-table {
  margin-top: 50px;
  margin-left: 20px;
}

.sb1 {
  width: 50%;
  float: left;
  background-color: #f8fafd;
  border: 1px solid #ebeefe;
}
.sb2 {
  width: 39%;
  float: right;
  margin-right: 10%;
}

.sh1 {
  margin-left: 15px;
  margin-top: 15px;
  font-size: 16px;
  font-weight: 600;
  color: #606670;
}

.ss {
  padding: 0px !important;
}
