html,body { height: 100%; }

body{
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-align: center;
	-ms-flex-pack: center;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	background-color: #f5f5f5;
}

* {
    font-family: 'Poppins', sans-serif;
}

.card-content {
    box-shadow: 4px 6px 12px 4px #DCE4FB
}

.card-title{ font-weight:300; }


.login-form{ 
	width: 550px;
    height: 450px;
	margin:auto;
    margin-top: 8%;
}


.text {
    font-size: 14px;
    font-weight: 600;
    color: #606670;
    margin-left: 45px !important;
    margin-top: 40px !important;
    margin-bottom: 29px !important;
}

.lable {
    margin-left: 45px !important;
    font-size: 14px;
    font-weight: 700;
    color: #606670;
}
.input-mail {
    margin-left: 42px !important;
    border-radius: 20px;
    width: 400px;
    border: 1px solid #DEDEDE;
    height: 40px;
    padding-left: 50px !important;
    background-image: url('../../assets/ic_mail.png');
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 20px center;
    margin-bottom: 44px;
}
.input1 {
    margin-bottom: 10px !important;
    padding-left: 50px !important;
    background-image: url('../../assets/ic_https.png'),url('../../assets/ic_remove_red_eye.png') !important;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 20px center,95% center;
}

.input2 {
    margin-bottom: 40px !important;
    padding-left: 50px !important;
    background-image: url('../../assets/ic_https.png'),url('../../assets/ic_remove_red_eye.png') !important;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 20px center,95% center;
}

input:focus {
    outline: none;
}
button:focus {
    outline: none;

}

::placeholder {
    color: #A5AAB3;
    font-size: 12px;
    font-weight: 400;
}

.button {
    border: none;
    margin-left: 45px !important;
    border-radius: 20px;
    background-color: #51AEE5;
    color: white;
    font-size: 12px;
    font-weight: 600;
    width: 400px;
    height: 40px;
}

.enter {
    font-size: 20px;
    font-weight: 700;
    color: #606670;
    margin-top: 34px !important;
    margin-bottom: 29px !important;
    text-align: center;
}

.lable1 {
    font-weight: 600 !important;
}

.check {
    margin-top: 40px;
}

.success {
    margin-top: 20px;
    color: #606670;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.subheading {
    font-size: 15px;
    font-weight: 500;
    color:#606670;
    text-align: center;
}

.button1 {
    width: 160px;
    height: 40px;
    border-radius: 20px;
    border: none;
    margin-top: 20px;
    background-color: #51AEE5;
    color: white;
}