<div class="content-wrap">

    <main id="content" class="content table-padding bc" role="main">
        <div id="mainId" class="bc">
            <div id="first" class="bc">
                <div style="margin-left: 280px; width: 320px;">
                    <p class="heading">Request Letter for Export Bill Processing</p>
                </div>
                <div style="margin-left: 40px; margin-top: 20px; width: 75%;" class="bc">
                    <div style="float: right; width:80%; text-align:right">Date: <input type="text" style="border: none; border-bottom: 1px solid black; width: 150px;"></div>
                    <div style="float: left; width:80%; margin-top: -20px;" >To, <br>
                        The Manager <br>
                        YES Bank Ltd., <br>
                        Branch address</div>
                    <input class="ind" type="text">
                    <p style="margin-top: 10px;">Dear Sir/Madam, <br>
                        Export Documents for □ Purchase □ Negotiation □ Discounting □ Collection □ Rupee Advance <br>
                        Bill amount<input type="text" style="border: none; border-bottom: 1px solid black; width: 150px;">Tenor <input type="text" style="border: none; border-bottom: 1px solid black; width: 150px;">I.E. Code No. <input type="text" style="border: none; border-bottom: 1px solid black; width: 150px;"></p>
                    <table>
                            <tr>
                                <td class="wtd4"> Documents</td>
                                <td class="wtd4"> Drafts</td>
                                <td class="wtd4"> Invoice </td>
                                <td class="wtd4"> Transport <br>
                                    Doc. <br>
                                    B/L/AWB/ <br>
                                    LR</td>
                                <td class="wtd4"> Pkg. <br>
                                    List</td>
                                <td class="wtd4"> Insurance. <br>
                                    policy</td>
                                <td class="wtd4"> Cert. Of <br>
                                    Origin</td>
                                <td class="wtd4">Test <br>
                                    Cert</td>
                                <td class="wtd4">Others</td> 
                                <td>EDF</td>
                            </tr>
                            <tr>
                                <td class="wtd3" >Original</td>
                                <td class="wtd3"><input type="text"></td>
                                <td class="wtd3"><input type="text"></td>
                                <td class="wtd3"><input type="text"></td>
                                <td class="wtd3"><input type="text"></td>
                                <td class="wtd3"><input type="text"></td>
                                <td class="wtd3"><input type="text"></td>
                                <td class="wtd3"><input type="text"></td>
                                <td class="wtd3"><input type="text"></td>
                                <td class="wtd3"><input type="text"></td>
                            </tr>
                            <tr>
                                <td class="wtd3" >Duplicate</td>
                                <td class="wtd3"><input type="text"></td>
                                <td class="wtd3"><input type="text"></td>
                                <td class="wtd3"><input type="text"></td>
                                <td class="wtd3"><input type="text"></td>
                                <td class="wtd3"><input type="text"></td>
                                <td class="wtd3"><input type="text"></td>
                                <td class="wtd3"><input type="text"></td>
                                <td class="wtd3"><input type="text"></td>
                                <td class="wtd3"><input type="text"></td>
                            </tr>
                            <tr>
                                <td colspan="10">No. of documents to be sent to foreign bank / As per export L/C</td>
                            </tr>
                            <tr>
                                <td class="wtd3" >Original</td>
                                <td class="wtd3"><input type="text"></td>
                                <td class="wtd3"><input type="text"></td>
                                <td class="wtd3"><input type="text"></td>
                                <td class="wtd3"><input type="text"></td>
                                <td class="wtd3"><input type="text"></td>
                                <td class="wtd3"><input type="text"></td>
                                <td class="wtd3"><input type="text"></td>
                                <td class="wtd3"><input type="text"></td>
                                <td class="wtd3"><input type="text"></td>
                            </tr>
                            <tr>
                                <td class="wtd3" >Duplicate</td>
                                <td class="wtd3"><input type="text"></td>
                                <td class="wtd3"><input type="text"></td>
                                <td class="wtd3"><input type="text"></td>
                                <td class="wtd3"><input type="text"></td>
                                <td class="wtd3"><input type="text"></td>
                                <td class="wtd3"><input type="text"></td>
                                <td class="wtd3"><input type="text"></td>
                                <td class="wtd3"><input type="text"></td>
                                <td class="wtd3"><input type="text"></td>
                            </tr>
                    </table> <br>
                    <p>
                       <b>Other documents enclosed:</b> <br>
                       Original L/C No. <input type="text" style="border: none; border-bottom: 1px solid black; width: 100px;"> dated <input type="text" style="border: none; border-bottom: 1px solid black; width: 80px;">of <input type="text" style="border: none; border-bottom: 1px solid black; width: 60px;">along with all amendments (no. of 
                       amendments ____) and advising letters duly stamped with revenue stamp on the reverse. <br>
                       amendments ____) and advising letters duly stamped with revenue stamp on the reverse.
                       EDF form Nos.<input type="text" style="border: none; border-bottom: 1px solid black; width: 300px;"> <br>
                       Date of Transport Doc. (AWB / BL / LR) <input type="text" style="border: none; border-bottom: 1px solid black; width: 200px;">
                       ** If the above mentioned documents are being submitted after expiry of 21 days from date of shipment, than please
                        briefly describe the reason for delay in submission of
                        document_______________________________________________________________________________________________
                        __________________________________________________________________________________ <br>
                        Debit account no.<input type="text" style="border: none; border-bottom: 1px solid black; width: 200px;">with your branch <input type="text" style="border: none; border-bottom: 1px solid black; width: 100px;">for all necessary
                        charges and Interest.
                    </p>
                    <p>
                      <b>Kindly note our following instructions: (mark X wherever applicable)</b>   
                    </p>
                    <table>
                        <tr>
                            <td class="sl">1</td>
                            <td class="sl2">Documents to be delivered against <b>PAYMENT / ACCEPTANCE **</b> </td>
                            <td class="sl3"><input type="text" ></td>
                        </tr>
                        <tr>
                            <td class="sl">2</td>
                            <td class="sl2">All banking charges outside India are for our / their (drawee) A/C</td>
                            <td class="sl3"><input type="text"></td>
                        </tr>
                        <tr>
                            <td class="sl">3</td>
                            <td class="wtd1">If unpaid / unaccepted, store and insure goods. </td>
                            <td class="sl3"><input type="text"></td>
                        </tr>
                        <tr>
                            <td class="sl">4</td>
                            <td class="sl2">Debit all charges including charges in connection with item 4 to our Account no.
                                <input type="text" style="border: none; border-bottom: 1px solid black; width: 200px;">with yourselves.</td>
                            <td class="sl3"><input type="text" ></td>
                        </tr>
                        <tr >
                            <td class="sl">5</td>
                            <td class="sl2">Please forward the documents in one lot by courier / Regd. Air mail** at our cost, risk and
                                responsibility to (name & address of bank)</td>
                            <td class="sl3"><input type="text"></td>
                        </tr>
                        <tr >
                            <td class="sl">6</td>
                            <td class="sl2">Other instructions if any:</td>
                            <td class="sl3"><input type="text"></td>
                        </tr>
                        
    
                    </table>
                    <p style="margin-top: 0px; margin-bottom: 0px;">
                        (** Please strike out whichever is not applicable)
                    </p>
                    <table>
                        <tr>
                            <td class="sl">7</td>
                            <td class="sl2"><b>Proceeds disposal instructions. (Mark X wherever applicable )</b> </td>
                            <td class="sl3"><input type="text" ></td>
                        </tr>
                        <tr>
                            <td class="sl"></td>
                            <td class="sl2">Please credit proceeds (Amount) <input type="text" style="border: none; border-bottom: 1px solid black; width: 100px;"> <input type="text" style="border: none; border-bottom: 1px solid black; width: 200px;"> to packing credit
                                account no. <input type="text" style="border: none; border-bottom: 1px solid black; width: 100px;"> With you and balance to operative account
                                No.<input type="text" style="border: none; border-bottom: 1px solid black; width: 200px;">with you. We confirm that we have not availed packing
                                credit from any other bank for the amount transferred to our operative account with you.</td>
                            <td class="sl3"><input type="text"></td>
                        </tr>
                        <tr>
                            <td class="sl"></td>
                            <td class="wtd1">Please credit (Amount)<input type="text" style="border: none; border-bottom: 1px solid black; width: 200px;">to EEFC A/C No.<input type="text" style="border: none; border-bottom: 1px solid black; width: 200px;">With your Bank <br>
                            OR <br> <input type="text" style="border: none; border-bottom: 1px solid black; width: 400px;"><br>
                            ( Name of the bank and branch with complete details)</td>
                            <td class="sl3"><input type="text"></td>
                        </tr>
                        <tr>
                            <td class="sl"></td>
                            <td class="sl2">Please remit proceeds in INR by P.O. or remit through T.T. as per instructions enclosed.</td>
                            <td class="sl3"><input type="text" ></td>
                        </tr>
                        <tr >
                            <td class="sl"></td>
                            <td class="sl2">Please use the forward contract (s), as given below.....</td>
                            <td class="sl3"><input type="text"></td>
                        </tr>
                        
                        
    
                    </table>
                    <table style="margin-top: 0px;">
                        <tr>
                            <td class="wtd4"> Forward Contract No. <br>
                                & Date</td>
                            <td class="wtd4">Forward Contract Amount</td>
                            <td class="wtd4"> Amount to be Utilized for this <br>
                                remittance </td>
                            <td class="wtd4"> Due Date of the Contract</td>
                        </tr>
                        <tr>
                            <td class="w1" ><input type="text"></td>
                            <td class="w1"><input type="text"></td>
                            <td class="w1"><input type="text"></td>
                            <td class="w1"><input type="text"></td>
                        </tr>
                        <tr>
                            <td class="w1" ><input type="text"></td>
                            <td class="w1"><input type="text"></td>
                            <td class="w1"><input type="text"></td>
                            <td class="w1"><input type="text"></td>
                        </tr>
                    </table>
                    <p> <b>Declaration – Cum – Undertaking</b> </p>
                    <p>
                        I/We hereby declare that the transaction the details of which are specifically mentioned in this request letter does not
                        involve, and is not designed for the purpose of any contravention or evasion of the provisions of the FEMA 1999 or of
                        any rules, regulation, notification, direction or order made there under. I /We also hereby agree and undertake to
                        give such information/documents as will reasonably satisfy you about this transaction in terms of the above
                        declaration. I/We also understand that if I/We refuse to comply with any such requirement or make only
                        unsatisfactory compliance therewith, the bank shall refuse in writing to undertake the transaction and shall if it has
                        reason to believe that any contravention/evasion is contemplated by me/us report the matter to Reserve Bank of
                        India.. I/We further declare that the undersigned has/have the authority to give this declaration and undertaking on
                        behalf of the company. <br> <br>
                        I/we also declare that the transaction does not have linkage with any Specially Designated Nationals and Blocked
                        Persons (SDN)/countries listed under OFAC in any manner. If the transaction involves linkage with any Specially
                        Designated Nationals and Blocked Persons (SDN)/countries listed under OFAC in any manner, I/we undertake not
                        to hold YES Bank Limited responsible for any of its action or inaction in respect of the OFAC-linked transactions. <br> <br>
                        <b>Note</b> – Default GST registration details as updated in the Bank records will be considered for the said request. In case
                        the no. to be considered is different, please notify below.
                    </p>
                    <p style="margin-bottom: 0px;">
                        GSTIN Registration no.
                    </p>
                    <table>
                        <tr>
                        <td><input style="width: 25px; border: none;" id="digit1" type="text" maxlength="1" onkeypress="return isNumberKey(event)" onkeyup ="moveToNextInputDigit(this)"></td>
                        <td><input style="width: 25px; border: none;" id="digit2" type="text" maxlength="1" onkeypress="return isNumberKey(event)" onkeyup ="moveToNextInputDigit(this)"></td> 
                        <td><input style="width: 25px; border: none;"  id="digit3" type="text" maxlength="1" onkeypress="return isNumberKey(event)" onkeyup ="moveToNextInputDigit(this)"></td>
                        <td><input style="width: 25px; border: none;" id="digit4" type="text" maxlength="1" onkeypress="return isNumberKey(event)" onkeyup ="moveToNextInputDigit(this)"></td>
                        <td><input style="width: 25px; border: none;" id="digit5" type="text" maxlength="1" onkeypress="return isNumberKey(event)" onkeyup ="moveToNextInputDigit(this)"></td> 
                        <td><input style="width: 25px; border: none;" id="digit6" type="text" maxlength="1" onkeypress="return isNumberKey(event)" onkeyup ="moveToNextInputDigit(this)"></td>
                        <td><input style="width: 25px; border: none;" id="digit7" type="text" maxlength="1" onkeypress="return isNumberKey(event)" onkeyup ="moveToNextInputDigit(this)"></td>
                        <td><input style="width: 25px; border: none;" id="digit8" type="text" maxlength="1" onkeypress="return isNumberKey(event)" onkeyup ="moveToNextInputDigit(this)"></td>
                        <td><input style="width: 25px; border: none;" id="digit9" type="text" maxlength="1" onkeypress="return isNumberKey(event)" onkeyup ="moveToNextInputDigit(this)"></td>
                        <td><input style="width: 25px; border: none;" id="digit10" type="text"maxlength="1" onkeypress="return isNumberKey(event)" onkeyup ="moveToNextInputDigit(this)"></td>
                        </tr> 
                    </table>

                    <div style="margin-top: 20px;">
                        <p>
                            Thanking You <br>
                            Warm Regards <br>
                            Authorized Signatory <br>
                            Company Stamp / Seal
                        </p>
                    </div>
                    <div>
                        <p>
                            Date: <input class="ind" type="text"> <br>
                            Place: <input class="ind" type="text">
                        </p>
                    </div>
                    <p> <b>Guidelines /checklist for the exporter for ensuring speedy & error free export bill processing</b> </p>
                    <div style="margin-left: 30px;">
                        <p>
                            1. Request letter to be signed by authorized signatory of the company. <br>
                            2. Ensure that all columns are filled in the request letter. <br>
                            3. Declaration cum undertaking is required under sec.10 (5), Chapter III of FEMA 1999), mentioned in the
                            request letter. <br>
                            4. EDF value to match with invoice amount. If differs, then reason to be stated. <br>
                            5. If EDF submitted states another bank name then letter to be obtained from concerned bank. <br>
                            6. Please give clear disposal instructions of credit proceeds. <br>
                            7. Prior approval from Relationship Officer is taken for direct dispatch of documents or in case of existing 
                            overdue bills.
                        </p>
                    </div>

                </div>
                
            </div>
    
            
            
        </div>
        

        <div style="float: left; display: block; width: 78%; margin-top: 40px; margin-left: 43px;">
            <div title="Share As PDF" (click)="exportAsPDF('MyDIv');">Download</div>
        </div>

    </main>

</div>