<!DOCTYPE html>
<html style="background-color: #f8fafd">
  <body style="">
    <!--------style="    position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      padding-right: 2%;"-->
    <!--
          Main sidebar seen on the left. may be static or collapsing depending on selected state.
        
            * Collapsing - navigation automatically collapse when mouse leaves it and expand when enters.
            * Static - stays always open.
        -->
    <nav id="sidebar" class="sidebar" role="navigation" style="overflow: auto">
      <!-- need this .js class to initiate slimscroll -->
      <div class="js-sidebar-content">
        <header class="logo d-none d-md-block">
          <img
            class="mlogo"
            src="./assets/images/4693153098166e9bee9edab630a8e9d70f5545b6.png"
            width="133px"
            height="46px"
          />

          <br />
          <div style="margin-top: 20px">
            <img
              class="manager"
              src="./assets/images/ff0edd8c8896c06617bb7763087ad238ad16b269.png"
              alt=""
            />
            <h5 class="name">Justin Hamilton</h5>
            <h6 class="side-name">Manager</h6>
          </div>
        </header>
        <!-- seems like lots of recent admin template have this feature of user info in the sidebar.
                     looks good, so adding it and enhancing with notifications -->

        <!-- main notification links are placed inside of .sidebar-nav -->

        <!-- every .sidebar-nav may have a title -->
        <h5 class="sidebar-nav-title sidebar-title">MENU</h5>
        <ul class="sidebar-nav">
          <li class="">
            <!-- an example of nested submenu. basic bootstrap collapse component -->
            <a
              (click)="hideIncoice()"
              [routerLink]="['/home/dashboard']"
              class="sidebar-content"
            >
              <span class="icon side-icon">
                <img src="./assets/layout-dashboard.png" />
              </span>
              Dashboard
            </a>
          </li>
          <li
            style="cursor: pointer"
            class=""
            *ngIf="!mt"
            (click)="manageTask()"
          >
            <!-- an example of nested submenu. basic bootstrap collapse component -->
            <a class="sidebar-content"  style="cursor: pointer;">
              <span class="icon side-icon">
                <img src="./assets/content-paper-edit.png" />
              </span>
              Manage Tasks
              <span
                style="
                  margin-left: 7%;
                  position: absolute;
                  transform: translate(0, 3px);
                "
                ><i
                  style="font-size: 20px"
                  *ngIf="!mt"
                  class="fas fa-angle-down"
                ></i>
              </span>
            </a>
          </li>
          <li class="manage-li" *ngIf="mt">
            <!-- an example of nested submenu. basic bootstrap collapse component -->
            <a
              style="cursor: pointer"
              class="manage-content"
              (click)="manageTask()"
            >
              <span class="icon side-icon">
                <img src="./assets/content-paper-edit.png" />
              </span>
              Manage Tasks
              <span
                style="
                  margin-left: 7%;
                  position: absolute;
                  transform: translate(0, 3px);
                "
              >
                <i
                  style="font-size: 20px"
                  *ngIf="mt"
                  class="fas fa-angle-up"
                ></i
              ></span>
            </a>
            <div class="main11">
              <a style="cursor: pointer" (click)="newTask()">
                New Task
                <span style="margin-left: 14%"
                  ><i *ngIf="!nt" class="fas fa-angle-down"></i>
                  <i *ngIf="nt" class="fas fa-angle-up"></i
                ></span>
              </a>
              <div class="main1" *ngIf="nt">
                <a style="cursor: pointer" (click)="export()"> Exports </a>
                <div class="main2" *ngIf="exp">
                  <a style="cursor: pointer">Shipping Bill</a>
                  <a style="cursor: pointer">PI/PO</a>
                  <a style="cursor: pointer">Commercial Invoice</a>
                  <a style="cursor: pointer">Transport Document</a>
                  <a style="cursor: pointer">Master Sales Agreement</a>
                  <a style="cursor: pointer">Debit Notes</a>
                  <a style="cursor: pointer">Credit Notes</a>
                  <a style="cursor: pointer">Upload EDPMS</a>
                  <a style="cursor: pointer">Softex</a>
                </div>
                <a style="cursor: pointer" (click)="inward()">
                  Inward Remittance
                </a>
                <div class="main2" *ngIf="inw">
                  <a style="cursor: pointer">Commercial Invoice</a>
                  <a style="cursor: pointer">PI/PO</a>
                  <a style="cursor: pointer">Master Sales Agreement</a>
                </div>
                <a style="cursor: pointer" (click)="import()"> Imports </a>
                <div class="main2" *ngIf="imp">
                  <a
                    style="cursor: pointer"
                    [routerLink]="['/home/advance-outward-remittance']"
                    >Advance Outward Remittance</a
                  >
                  <a
                    style="cursor: pointer"
                    [routerLink]="['/home/direct-import-payment']"
                    >Direct Import Payment</a
                  >
                  <a style="cursor: pointer" (click)="buc()">Bill Under Collection</a>
                  <div class="main2" *ngIf="billuc">
                    <a style="cursor: pointer" (click)="lc()">LC</a>
                    <div class="main2" *ngIf="lc1">
                      <a style="cursor: pointer" (click)="lcSight()">Sight</a>
                      <a style="cursor: pointer"  (click)="lcUsance()">Usance</a>
                    </div>
                    <a style="cursor: pointer" (click)="nonLc()">Non LC</a>
                    <div class="main2" *ngIf="nonlc1">
                      <a style="cursor: pointer" (click)="nonlcSight()">Sight</a>
                      <a style="cursor: pointer"  (click)="nonlcUsance()">Usance</a>
                    </div>
                  </div>
                  <a style="cursor: pointer" [routerLink]="['/home/buyerCredit']">Buyers Credit Request</a>
                  <a style="cursor: pointer" (click)="lcIsurence()">LC Isurance</a>
                  <div class="main2" *ngIf="lcI">
                    <a style="cursor: pointer" (click)="lcInland()">Inland</a>
                    <a style="cursor: pointer"  (click)="lcImport()">Import</a>
                  </div>
                  <a style="cursor: pointer">BOE Submission to Bank</a>
                  <a style="cursor: pointer" [routerLink]="['/home/fbgWaiver']">FBG Waiver</a>
                </div>
                <a style="cursor: pointer" (click)="outward()">
                  Outward Remittance
                </a>
                <div class="main2" *ngIf="out">
                  <a style="cursor: pointer">Bill of entry Management</a>
                  <a style="cursor: pointer">PI/PO</a>
                  <a style="cursor: pointer">Shipping Bill Management</a>
                  <a style="cursor: pointer">Transport Document</a>
                  <a style="cursor: pointer">Invoice Management</a>
                </div>
                <a style="cursor: pointer" (click)="others()"> Others </a>
                <div class="main2" *ngIf="others">
                  <a style="cursor: pointer">GR Waiver</a>
                  <a style="cursor: pointer">Writeoff</a>
                  <a style="cursor: pointer">EEFC conversion request</a>
                  <a style="cursor: pointer">Net Off/Set Off</a>
                </div>
              </div>
              <a style="cursor: pointer" (click)="newTask()">
                Completed Task
              </a>
              <a style="cursor: pointer" (click)="newTask()"> Draft </a>
            </div>
          </li>
          <li class="">
            <!-- an example of nested submenu. basic bootstrap collapse component -->
            <a
              [routerLink]="['/home/upload']"
              style="cursor: pointer"
              class="sidebar-content"
            >
              <span class="icon side-icon">
                <img src="./assets/briefcase.png" />
              </span>
              Upload Documents
            </a>
          </li>
          <li class="" style="cursor: pointer">
            <!-- an example of nested submenu. basic bootstrap collapse component -->
            <a class="sidebar-content" [routerLink]="['/home/manageUser']">
              <span class="icon side-icon">
                <img src="./assets/single-neutral-circle.png" />
              </span>
              Manage User
            </a>
          </li>

          <li style="cursor: pointer" class="">
            <!-- an example of nested submenu. basic bootstrap collapse component -->
            <a class="sidebar-content">
              <span class="icon side-icon">
                <img src="./assets/briefcase.png" />
              </span>
              Transaction
            </a>
          </li>
          <li style="cursor: pointer" class="">
            <!-- an example of nested submenu. basic bootstrap collapse component -->
            <a class="sidebar-content" [routerLink]="['/home/manageCustomer']">
              <span class="icon side-icon">
                <img src="./assets/briefcase.png" />
              </span>
              Manage Customer
            </a>
          </li>
          <!-- <li class="">
                        <a class="collapsed" href="#sidebar-ui" data-toggle="collapse" data-parent="#sidebar">
                            <span class="icon">
                                <i class="fi flaticon-layers"></i>
                            </span>
                            UI Elements
                            <i class="toggle fa fa-angle-down"></i>
                        </a>
                        <ul id="sidebar-ui"
                            class="collapse ">
                            <li class=""><a href="icons.html">Icons</a>
                            </li>
                            <li class=""><a
                                    href="charts.html">Charts</a></li>
                            <li class=""><a
                                    href="maps_google.html">Google Maps</a></li>
                        </ul>
                    </li> -->
        </ul>

        <h5 class="sidebar-nav-title sidebar-title">SUPPORT</h5>
        <ul style="cursor: pointer" class="sidebar-nav">
          <li class="">
            <!-- an example of nested submenu. basic bootstrap collapse component -->
            <a class="sidebar-content">
              <span class="icon side-icon">
                <img src="./assets/question-circle.png" />
              </span>
              Need Help?
            </a>
          </li>
          <li style="cursor: pointer" class="">
            <!-- an example of nested submenu. basic bootstrap collapse component -->
            <a class="sidebar-content">
              <span class="icon side-icon">
                <img src="./assets/email-action-unread.png" />
              </span>
              Contact Us
            </a>
          </li>

          <!-- <li class="">
                        <a class="collapsed" href="#sidebar-ui" data-toggle="collapse" data-parent="#sidebar">
                            <span class="icon">
                                <i class="fi flaticon-layers"></i>
                            </span>
                            UI Elements
                            <i class="toggle fa fa-angle-down"></i>
                        </a>
                        <ul id="sidebar-ui"
                            class="collapse ">
                            <li class=""><a href="icons.html">Icons</a>
                            </li>
                            <li class=""><a
                                    href="charts.html">Charts</a></li>
                            <li class=""><a
                                    href="maps_google.html">Google Maps</a></li>
                        </ul>
                    </li> -->
        </ul>

        <h5 class="sidebar-nav-title sidebar-title">SETTING</h5>
        <ul class="sidebar-nav">
          <li style="cursor: pointer" class="">
            <!-- an example of nested submenu. basic bootstrap collapse component -->
            <a class="sidebar-content" [routerLink]="['/home/account']">
              <span class="icon side-icon">
                <img src="./assets/cog.png" />
              </span>
              Account
            </a>
          </li>
          <li style="cursor: pointer" class="">
            <!-- an example of nested submenu. basic bootstrap collapse component -->
            <a class="sidebar-content" (click)="logout()">
              <span class="icon side-icon">
                <img src="./assets/logout-1.png" />
              </span>
              Log Out
            </a>
          </li>

          <!-- <li class="">
                        <a class="collapsed" href="#sidebar-ui" data-toggle="collapse" data-parent="#sidebar">
                            <span class="icon">
                                <i class="fi flaticon-layers"></i>
                            </span>
                            UI Elements
                            <i class="toggle fa fa-angle-down"></i>
                        </a>
                        <ul id="sidebar-ui"
                            class="collapse ">
                            <li class=""><a href="icons.html">Icons</a>
                            </li>
                            <li class=""><a
                                    href="charts.html">Charts</a></li>
                            <li class=""><a
                                    href="maps_google.html">Google Maps</a></li>
                        </ul>
                    </li> -->
        </ul>
        <footer>
          <h5 class="footer-heading">DocMachine 2020.</h5>
          <p class="footer-content">
            Created with love for the community <br />
            of designers and project managers.
          </p>
        </footer>
      </div>
    </nav>
    <!-- This is the white navigation bar seen on the top. A bit enhanced BS navbar. See .page-controls in _base.scss. -->
    <nav
      class="page-controls navbar navbar-dashboard nav-bar"
      style="width: 88.2vw; position: fixed"
    >
      <div
        style="display: grid; grid-template-columns: 70% 15% 15%"
        class="container-fluid contain-fluid"
      >
        <!-- .navbar-header contains links seen on xs & sm screens -->

        <!-- this part is hidden for xs screens -->
        <div style="width: 100%" class="">
          <!-- search form! link it to your search server -->
          <form style="width: 100%" class="" role="search">
            <div style="width: 100%" class="form-group">
              <div
                style="width: 100%"
                class="input-group input-group-no-border ml-4"
              >
                <input
                  id="main-search"
                  type="text"
                  placeholder="Type to search. . ."
                  style="width: 98%"
                />
              </div>
            </div>
          </form>
        </div>
        <div style="display: flex; justify-content: center; width: 100%">
          <select
            style="cursor: pointer"
            class="dropdown"
            name="cars"
            id="cars"
          >
            <option value="volvo">English</option>
            <option value="saab">Hindi</option>
            <option value="opel">Kannada</option>
            <option value="audi">Tamil</option>
          </select>
        </div>
        <div style="display: flex; justify-content: center; width: 100%">
          <span style="margin-right: 20%" class="icon">
            <img src="./assets/Rectangle-7.png" />
          </span>
          <span style="margin-right: 20%" class="icon">
            <img src="./assets/Shape-2.png" />
          </span>
          <span style="margin-right: 20%" class="icon">
            <img src="./assets/cog-grey.png" />
          </span>
        </div>
      </div>
    </nav>
    <router-outlet></router-outlet>
    <!-- <div class="content-wrap">
           
            <main id="content" class="content" role="main">
                
                <h1>hekkko</h1>
                <div class="analytics" style="width: 83%;">
                    <div class="analytics-side">
                        <div class="row">
                            <div class="col-12 mb-lg">
                                <section class="widget pb-0">

                                    <div class="widget-body p-0 support table-wrapper">
                                        <table class="table table-striped mb-0">
                                            <thead>
                                            <tr class="text-muted">
                                                <th scope="col"><span class=" pl-3">DATE</span></th>
                                                <th scope="col">SB ID</th>
                                                <th scope="col">INVOICE NUMBER</th>
                                                <th scope="col">COMPANY NAME</th>
                                                <th scope="col">UPLOADED BY</th>
                                                <th scope="col">AMOUNT</th> 
                                            </tr>
                                            </thead>
                                            <tbody class="text-dark">
                                            <tr>
                                                <th class="pl-4 fw-normal">Mark Otto</th>
                                                <td>ottoto@wxample.com</td>
                                                <td>ON the Road</td>
                                                <td>$25 224.2</td>
                                                <td>11 May 2017</td>
                                                <td>Otsego</td>
                                                
                                            </tr>
                                            <tr>
                                                <th class="pl-4">Jacob Thornton</th>
                                                <td>thornton@wxample.com</td>
                                                <td>HP Core i7</td>
                                                <td>$1 254.2</td>
                                                <td>4 Jun 2017</td>
                                                <td>Fivepointville</td>
                                                
                                            </tr>
                                            <tr>
                                                <th class="pl-4">Larry the Bird</th>
                                                <td>bird@wxample.com</td>
                                                <td>Air Pro</td>
                                                <td>$1 570.0</td>
                                                <td>27 Aug 2017</td>
                                                <td>Leadville North</td>
                                                
                                            </tr>
                                            <tr>
                                                <th class="pl-4">Joseph May</th>
                                                <td>josephmay@wxample.com</td>
                                                <td>Version Control</td>
                                                <td>$5 224.5</td>
                                                <td>19 Feb 2018</td>
                                                <td>Seaforth</td>
                                                
                                            </tr>
                                            <tr>
                                                <th class="pl-4">Peter Horadnia</th>
                                                <td>horadnia@wxample.com</td>
                                                <td>Let's Dance</td>
                                                <td>$43 594.7</td>
                                                <td>1 Mar 2018</td>
                                                <td>Hanoverton</td>
                                                
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                
                </div>
                    
            </main>
        </div> -->
    <!-- The Loader. Is shown when pjax happens -->
    <div class="loader-wrap hiding hide">
      <i class="fa fa-circle-o-notch fa-spin-fast"></i>
    </div>
  </body>
</html>
