<div class="content-wrap">

    <main id="content" class="content table-padding bc" role="main">
        <div id="mainId" class="bc">
            <div id="first" class="bc" style="margin-left: 40px;">
                <p> <b style="border-bottom: 2px solid black;">For Office use:</b> </p>
                <table >
                    <tr>
                        <td class="wtd4"> <b>AD Code No</b> </td>
                        <td class="wtd4"> <b>Form No</b></td>
                        <td class="wtd4"> <b>Currency</b> </td>
                        <td class="wtd4"> <b>Amount</b></td>
                        <td class="wtd4"> <b>Equivalent to Rs</b></td>
                    </tr>
                    <tr>
                        <td class="wtd4" ><input type="text"></td>
                        <td class="wtd4" ><input type="text"></td>
                        <td class="wtd4"><input type="text"></td>
                        <td class="wtd4"><input type="text"></td>
                        <td class="wtd4"><input type="text"></td>
                    </tr>
                    <tr>
                        <td class="wtd4" ><b>Customer ID</b></td>
                        <td class="wtd4"><b>Transaction type</b></td>
                        <td class="wtd4"><b>TR/ FWC Amount</b></td>
                        <td class="wtd4"><b>TR/ FWC Rate </b></td>
                        <td class="wtd4"><b>TR/ FWC Ref no.</b></td>
                    </tr>
                    <tr>
                        <td class="wtd4" ><input type="text"></td>
                        <td class="wtd4" ><input type="text"></td>
                        <td class="wtd4"><input type="text"></td>
                        <td class="wtd4"><input type="text"></td>
                        <td class="wtd4"><input type="text"></td>
                    </tr>
                </table>
                <p>
                    (In case of a Firm / Company obtain this application on their Letterhead) <br>
                    <b>The Branch Head,</b> <br>
                    <b>Axis Bank Ltd.<input type="text" style="border: none; border-bottom: 1px solid black; width: 100px;">Branch</b> <br>
                    <br>
                    Dear Sir, <br>

                </p>
                <div style="margin-left: 18%; ">
                    <p class="heading5" style="margin-bottom: 0px !important;">Sub: Application for Advance Remittance against Imports.<br> </p>
                </div>
                <p>
                    I.  We hereby request you to remit /issue Demand draft as per the details given below:
                </p>
                <table>
                    <tr>
                        <td class="lc">Currency and Amount</td>
                        <td class="wtd1" colspan="5"></td>
                    </tr>
                    <tr>
                        <td class="lc">Beneficiary Name, Address  and <br>
                            country</td>
                        <td class="wtd1"colspan="5" ></td>
                    </tr>
                    <tr>
                        <td class="lc">Beneficiary Bank Name, <br>
                             Address and Swift Code</td>
                        <td class="wtd1" colspan="5"></td>
                    </tr>
                    <tr>
                        <td class="lc">Beneficiary Bank A/c no.</td>
                        <td class="wtd1" colspan="5"></td>
                    </tr>
                    <tr>
                        <td class="lc">IBAN NO./ SORT CODE / BSB <br>
                             NO. / TRANSIT NO.</td>
                        <td class="wtd1" colspan="5"></td>
                    </tr>
                    <tr>
                        <td class="lc">Correspondent/Intermediary <br> Bank Name and  BIC CODE <br> (optional)</td>
                        <td class="wtd1" colspan="5"></td>
                    </tr>
                    <tr>
                        <td class="wtd4" rowspan="2"> Goods Freely importable (Y / N). <br> If No, enclose original exchange <br> control copy of license and  <br> mention license details</td>
                        <td class="wtd4"> License No.</td>
                        <td class="wtd4">Date of issue</td>
                        <td class="wtd4"> Date of <br> expiry</td>
                        <td class="wtd4">Face value <br> of license</td>
                        <td class="wtd4">Amount to <br> be endorsed <br> (Rs.)</td>
                    </tr>
                    <tr>
                        <td class="rm1" ><input type="text"></td>
                        <td class="rm1" ><input type="text"></td>
                        <td class="rm1"><input type="text"></td>
                        <td class="rm1"><input type="text"></td>
                        <td class="rm1"><input type="text"></td>
                    </tr>
                </table>
                <p>
                   <b> III. IMPORT PARTICULARS</b>
                </p>
                <table>
                    <tr>
                        <td class="wtd4" colspan="4"> Invoice Details</td>
                        <td class="wtd4" rowspan="2"> Qty of <br> Good</td>
                        <td class="wtd4" rowspan="2">Descp of <br>
                            Good</td>
                        <td class="wtd4" rowspan="2"> Harmonized <br> system of <br>  classification</td>
                        <td class="wtd4" rowspan="2">Country of <br> Origin of <br> Goods</td>
                        <td class="wtd4" rowspan="2">Country from <br> which goods <br> are consigned</td>
                        <td class="wtd4" rowspan="2">Mode of <br> Shipment <br>
                            (Air, Sea post, <br> rail, river, <br>
                            transport port  <br> etc)</td>
                        <td class="wtd4" rowspan="2">Date of <br> shipment <br>(if known) <br>  or <br> tentative <br> date <br>
                            (approx <br> date)</td>
                    </tr>
                    <tr>
                        <td class="wtd4"> No <br>
                            and <br>
                            Date</td>
                        <td class="wtd4">Terms <br>
                            (c.i.f, <br>
                            f.o.b, c&f <br> etc)</td>
                        <td class="wtd4"> Currency</td>
                        <td class="wtd4">Amt</td>
                    </tr>
                    <tr>
                        <td class="rm2" ><input type="text"></td>
                        <td class="rm2" ><input type="text"></td>
                        <td class="rm2" colspan="2"><input type="text"></td>
                        <td class="rm2"><input type="text"></td>
                        <td class="rm2"><input type="text"></td>
                        <td class="rm2" ><input type="text"></td>
                        <td class="rm2" ><input type="text"></td>
                        <td class="rm2"><input type="text"></td>
                        <td class="rm2"><input type="text"></td>
                        <td class="rm2"><input type="text"></td>
                    </tr>
                </table>
                <p>
                    <b>
                        IV. FBG Waiver request (applicable if the amount of advance remittance exceeds USD 200000)
                    </b>
                </p>
                <p><b>Yes</b><input type="checkbox" class="check"><input type="checkbox" class="check"></p>
                <p style="width: 81%;">
                    We are aware of extant FEMA 1999 regulations vide Para C.1 of RBI Master Circular on Import of Goods and Services Dated 01.07.2015 and amendments thereto if any, whereby importers have been advised to obtain an unconditional, Irrevocable Standby Letter of Credit (SBLC) or a Financial Bank Guarantee (FBG) from an International Bank of repute situated outside India or an FBG of an AD Category – I Bank in India, if such an FBG is issued against the Counter-Guarantee of an International Bank of repute situated outside India. <br> <br>
                    However, due to following reasons, we express our inability to obtain the FBG/SBLC from the overseas supplier (Please tick appropriate option): <br> 
                    i) Supplier is our parent/subsidiary/associate company. <br>
                    ii) Long standing relationship with the Supplier since <input type="text" style="border: none; border-bottom: 1px solid black; width: 70px;"> <br>
                    iii) Supplier is a Fortune 500 Company. <br>
                    iv) Any other reason (please specify) <input type="text" style="border: none; border-bottom: 1px solid black; width: 70px;"><br> <br>
                    In the event of non-import of Goods/Services/Aircraft, Helicopters & Aviation related purchases, we shall ensure that the amount of advance remittance is repatriated to India or is utilized for any other purposes for which release of exchange is permissible under the Act, Rules or Regulations made thereunder. <br> <br>
                    <b>V. DECLARATION – CUM - UNDERTAKING</b> <br><br>
                    I/We hereby declare that the statements made by me/us on this form are true and that I/we have not applied for the same remittance through any other bank. <br> <br>
                    All rules and regulations issued under FEMA governing imports has been / will be adhered by me /us. Further in case of non-import of goods, we undertake to repatriate the proceeds to India. <br> <br>
                    I/We declare that the import licence/s against which the remittance is sought is/are valid and has/have not been cancelled by DGFT. <br> <br>
                    I/We declare that the goods to which this application relates will be imported into India on my/our own account <br> <br>
                    I/We declare that the import is on behalf of @_______________________________________ <br> <br>
                    I/We declare that the invoice value of the goods which is declared on this form is the real value of the goods to be imported into India. <br> <br>
                    I/We undertake to produce within three months to the authorised dealer the relative Exchange Control copy of Bill of Entry/ Post parcel wrapper/ Courier wrapper <br> <br>
                    I/We declare that the import is in compliance with FTP and all T&C stipulated by DGFT from time to time are being complied with. <br> <br>
                    The goods imported/being imported by us are not covered under Negative list of imports as mentioned in Foreign Trade Policy 2015-2020 and amendments there to till date. We are eligible to import the above mentioned goods under the current Foreign Trade Policy in Place. The said goods imported/being imported by us are not restricted for import through specific licensing under the above mentioned policy and amendments. <br> <br>
                    I/We confirm that we are aware of Axis Bank Ltd’s Sanctions Policy Statement and that Axis Bank, including its subsidiaries and affiliates (the “Group”), is firmly committed to complying with all applicable sanctions laws (as imposed by UN, US, UK, EU or any other Government and/or Regulatory authorities) that are legally binding upon the Group and its businesses.  <br> <br>
                    I/We are further aware that Axis Bank Ltd may be unable to process any transactions that involves or have linkages/reference to any sanctioned countries*/territories*/parties including for cases where transhipment is involved.  <br> <br>
                    I/We confirm that shipment and / or transhipment of goods covered under this transaction shall not involve any sanctioned countries /territories /parties. <br>
                    *Sanctioned Countries and Territories include Cuba, Iran, Syria, North Korea (also known as Democratic People’s Republic of Korea), Crimea and Sevastopol (also known as Crimean Autonomous Republic) and Sectorial Sanctioned Countries and Territories include Russia and Venezuela. <br> <br> <br>
                    <b>The declaration-cum-undertaking under Sec 10(5), Chapter III of FEMA, 1999 is enclosed as under:</b> <br> <br>
                    I/We declare that the captioned transaction does not involve and is not designed for the purpose of any contravention or evasion of the provision of the Foreign Exchange management Act 1999 or any rule, regulations, notification, direction or order issued there under. <br> <br>
                    I/We also hereby agree and undertake to give such information/documents as will reasonably satisfy you about this transaction in terms of the above declaration.  I/We also understand that if I/We refuse to comply with any. <br> <br>
                    such requirement or make only unsatisfactory compliance therewith, the bank shall refuse in writing to undertake the transaction and shall if it has reason to believe that any contravention/evasion is contemplated by me/us report the matter to Reserve Bank of India. <br> <br>
                    I/We declare and also understand that the foreign exchange to be acquired by me/us pursuant to this application shall be used by me/us only for the purpose for which it is acquired and that the conditions subject to which the exchange is granted will be complied with <br> <br>
                    <b>OFAC Declaration: </b> In this connection, we declare, confirm and undertake that: <br> <br>
                    i)  We are aware that __________ (name of the country) is an entity against which sanctions by the Office of Foreign Assets (OFAC) of USA is in place. We undertake not to hold Axis Bank Ltd responsible for in any manner whatsoever in nature and hold Axis Bank Ltd fully indemnified against all losses and damages that may be caused to us on account of the funds remitted under this transaction being confiscated or blocked or seized by any authority/government/agency. <br>  <br>
                    ii) We further declare that we shall furnish any material information relating to this transaction as required by any authority/government/agency, now or in future. Also we authorize Axis Bank Ltd to make available any of the material information pertains our transaction to any authority/agency/entity without referring the matter to us. <br> <br>
                    **I/We further declare that the undersigned has the authority to give this application, declaration and undertaking on behalf of the firm/company. <br> <br>
                    I / we agree that in case the beneficiary account is maintained in other than remitting currency, the intermediary bank may convert the currency to beneficiary account designated currency


                </p>
               
                
            </div>
    
           
    
            <div id="third" class="bc">
    
                <div style="float: left; display: block; width: 78%; margin-left: 43px; margin-top: 20px;" class="bc">
                    
                    <div style="float: left;">
                        <p>Thanking you.<br> <br>
                            Date: <input class="ind" type="text" style="border: none; border-bottom: 1px solid black; width: 100px;"> <br>
                            Place: <input class="ind" type="text" style="border: none; border-bottom: 1px solid black; width: 100px;"></p>
                    </div> <br>
                    <div style="float: right; margin-right: 60px;">
                        <p style="margin-left: 30px;">Yours faithfully,</p>
                        <p>
                            Signature: <input class="ind" type="text" style="border: none; border-bottom: 1px solid black; width: 100px;"> <br>
                            Name: <input class="ind" type="text" style="border: none; border-bottom: 1px solid black; width: 100px;"> <br>
                            Adress: <input class="ind" type="text" style="border: none; border-bottom: 1px solid black; width: 100px;"> <br>
                            I.E.Code: <input class="ind" type="text" style="border: none; border-bottom: 1px solid black; width: 100px;">

                        </p>
                    </div>
                    <div style="margin-top: 160px;">
                        <p style="margin-left: 20px;">
                            Encl.: Copy of Proforma Invoice or Contract duly signed by the supplier and countersigned by the Importer
                        </p>
                        *We agree for levy of charges as per the schedule of charges of the bank (displayed on the bank’s website: www.axisbank.com) or as per the specific pricing approval/sanction, if any. <br>
                        **Applicable when the application /declaration /undertaking is signed on behalf of the firm / company
                        @Where the import is on behalf of Central/State Government Department or a company owned by Central/State Government/Statutory Corporation, Local Body, etc. the name of the Government Department, Corporation etc. should be stated.
                    </div>
    
                </div>
            </div>
            
        </div>
        

        <div style="float: left; display: block; width: 78%; margin-top: 40px; margin-left: 43px;">
            <div title="Share As PDF" (click)="exportAsPDF('MyDIv');">Download</div>
        </div>

    </main>

</div>