.main {
    margin: 40px 20px 0px 30px;
}



.display-5 {
    width: 472px;
    font-weight: 700;
    color: #606670;
    font-size: 32px;
    border-bottom: 4px solid #49A2D7;
    padding-bottom: 10px;
    margin-bottom: 56px;
}

.container1 {
    margin-left: -154px;
    display: grid;
    grid-template-columns:300px 300px 300px;
    grid-gap: 32px;
    
    justify-content: center;
    align-items: center;
  }

#login-container {
  height: 355px;
  border-radius: 5px;
  background: #ffffff;
  position: relative;
  box-shadow: 0px 2px 6px 0px rgba(47,83,151,0.1);
  
}

.heading {
    font-size: 16px;
    color: #98A0A6;
    text-align: center;
    margin: 35px;
}

.img1 {
    padding: 30px 30px;
    border-radius: 50%;
    box-shadow: 0px 2px 6px 0px rgba(47,83,151,0.1);
    
    text-align: center;
}

.img3 {
    border-radius: 50%;
    box-shadow: 0px 2px 6px 0px rgba(47,83,151,0.1);
    
    text-align: center;
}

.img2 {
    margin-top: 80px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0px 2px 6px 0px rgba(47,83,151,0.1);
    
    text-align: center;
}

.img4 {
    margin-top: 80px;
    padding: 30px 30px;
    border-radius: 50%;
    box-shadow: 0px 2px 6px 0px rgba(47,83,151,0.1);
    
    text-align: center;
}


.content1 {
    
    text-align: center;
}

input {
    
    border: none;
    outline: none;
    width: 250px;
    text-align: center; 
    

}

::placeholder {
    font-size: 16px;
    text-align: center/* Firefox */
  }

.name {
    margin-top: 20px;
    font-size: 18px;
    color: #1B2437;
    
    text-align: center; 
}

.email {
    margin-bottom: 20px;
    font-size: 16px;
    color: #98A0A6;
    text-align: center; 
}

button {
    border: none;
    outline: none;
    width: 154px;
    height: 40px;
    border-radius: 20px;
    color: white;
    font-size: 16px;
    background-color: #507BFC;
    box-shadow: 0px 10px 20px 0px rgba(80,123,252,0.5);
}

.bottom {
    font-size: 14px;
    color: #98A0A6;
    text-align: center;
}

.bottom1 {
    padding-top: 10px;
    text-align: right;
    text-align: center;
    width: 120px;
    height: 40px;
}

.bottom1:hover {
    background-color: #507BFC;
    border-radius: 20px;
    box-shadow: 0px 10px 20px 0px rgba(80,123,252,0.5);
    color: white;
}

.button-wrapper {
    position: relative;
    //width: 150px;
    text-align: center;
    //margin-left: 40px;
  }
  
  
  
  #dropzone {
      display: inline-block;
      position: absolute;
      z-index: 1;
      top: -50px;
      left: 0;
      opacity: 0;
      cursor: pointer;
  }
