* {
  font-family: "Nunito Sans", sans-serif;
}

.upload-button {
  font-weight: 600;
  border: none;
  float: right;
  margin-top: -12px;
  margin-right: 15%;
  height: 42px;
  width: 182px;
  background-color: #49a2d7;
  border-radius: 4px;
  color: #ffffff;
}

.heading {
  font-size: 24px;
  font-weight: 800;
  color: #323e4a;
  padding-bottom: 30px !important;
  margin-bottom: 24px !important;
  margin-left: 30px;
  padding-left: 35px;
}

.table-heading {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #747474;
  //opacity: 50%;
}

table {
  margin-left: 29px;
  width: 96% !important;
}

.box-shadow {
  box-shadow: none !important;
}

.table-padding {
  background: white !important;
  padding-left: 0px !important;
}

.table-heading {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #747474;
  //opacity: 50%;
}

table {
  margin-left: 29px;
  width: 96% !important;
}

.box-shadow {
  box-shadow: none !important;
}

.table-padding {
  background: white !important;
  width: 100% !important;
  padding-left: 0px !important;
}

.table-row {
  //background-color: #FFFFFF !important;
  color: #707683;
}

.table-row:hover {
  background: #f6f9ff !important;
  border-left: 5px solid #49a2d7;
}

select {
  text-decoration: none;
  border: none;
  background: none;
  color: #49a2d7;
}

select:focus {
  outline: none;
}

.rect {
  text-align: right;
  min-width: 20px !important;
}

.sb-no {
  color: #49a2d7;
}

th,
td {
  vertical-align: middle !important;
}

.three {
  text-align: right;
}
