.heading4 {
    border-bottom: 3px solid black;
    color: black;
    height: 25px;
    width: 25%;
}

tr {
    border: 1px solid #070707;
}

td {
    border-right: 1px solid #070707;
}

.wtd {
    width: 441px;
}

.wtd1 {
    width: 600px;
    
}

.wtd11 {
    width: 450px;
}
.wtd12 textarea{
    width: 290px;
    border: none;
}

.wtd12 input {
     border: none;
 }

.wtd12 {
    width: 318px;
    
}

.wtd10 {
    line-height: 16px;
    font-size: 14px;
}

.wtd1 input {
   // width: 400px;
    border: none;
}

.wtd2 {
    width: 900px;
}

.wtd3 input{
  width: 140px !important;
  border: none;
}

span input {
    border: none;
    border-bottom: 1px solid black;
}

.spli {
    border-bottom: 1px solid black !important;
}

.ins {
    border: none;
    border-bottom: 1px solid black;
    width: 400px;
}

.wtd7 input{
    width: 100px !important;
    border: none;
}


.wtd8 {
    width: 160px !important;
}

.ind {
    border: none;
    border-bottom: 1px solid black;
}

.wtd4 input {
    width: 170px;
    border: none;
}

.ll1 {
    width: 150px;
}

.ll2 {
    width: 200px;
}

.ll3 {
    width: 400px;
}
