/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
* {
  font-family: "Poppins", sans-serif;
}

.login,
.image {
  min-height: 100vh;
  cursor: pointer;
}

.parent {
  position: relative;
  top: 0;
  left: 0;
}
.image1 {
  position: relative;
  top: 0;
  left: 0;
  height: 100vh;
}
.image2 {
  position: absolute;
}

.display-5 {
  font-weight: 500;
  color: #606670;
  font-size: 32px;
  margin-bottom: 12px;
}

.bottom-text {
  font-size: 12px;
  font-weight: 400;
  color: #606670;
  width: 422px;
  margin-left: 20px;
}
a {
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
  color: #606670;
}

.text-sm {
  text-decoration: none;
  color: #9b9b9b !important;
  font-size: 14px;
  font-weight: 400;
}

::placeholder {
  font-size: 12px;
  color: #a5aab3 !important;
}

.text-ui {
  font-size: 16px;
  font-weight: 400;
  color: #606670;
  margin-bottom: 40px !important;
}
.bg-dark {
  background-color: rgb(255, 255, 255) !important;
  display: flex;
  justify-content: center;
}

input.email {
  padding-left: 50px !important;
  background-image: url("../../assets/email.png");
  background-repeat: no-repeat;
  background-size: 17px 11px;
  background-position: 20px center;
  padding-top: 0px;
}

input.password {
  padding-left: 50px !important;
  background-image: url("../../assets/Suche.png"),
    url("../../assets/Suche-1.png") !important;
  background-repeat: no-repeat;
  background-size: 17.5px 12px;
  background-position: 20px center, 95% center;
  padding-top: 0px;
}

input.fullName {
  padding-left: 50px !important;
  background-image: url("../../assets/ic_mail-2.png");
  background-repeat: no-repeat;
  background-size: 15px 15px;
  background-position: 20px center;
  padding-top: 0px;
}

.reg-sm {
  height: 40px;
  font-weight: 700;
  font-size: 18px;
  color: #606670;
}

input {
  box-shadow: none !important;
  border: 1px solid #dedede !important;
  width: 432px;
  height: 40px;
}

label {
  font-size: 14px;
  font-weight: 400;
  color: #606670;
  margin-left: 8px;
}

.btn {
  width: 160px;
  height: 40px;
  border-radius: 20px;
  background-color: #51aee5;
  font-size: 12px;
  color: #ffffff;
}

.leftl {
  text-align: end;
  color: #606670;
  font-size: 18;
  font-weight: 600;
  margin-top: 25px;
  margin-bottom: 50px;
}
