<!-- <div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
    <div class="card card0 border-0">
        <div class="row d-flex">
            <div class="col-lg-6">
                <div class="card1 pb-5">
                    <div class="row"> <img src="https://i.imgur.com/CXQmsmF.png" class="logo"> </div>
                    <div class="row px-3 justify-content-center mt-4 mb-5 border-line"> <img src="https://i.imgur.com/uNGdWHi.png" class="image"> </div>
                </div>
            </div>
            <div class="col-lg-6" style="background: rgb(44, 42, 48);">
                <div class="card2 card border-0 px-4 py-5" style="background: rgb(44, 42, 48);">
                    <h4 class="heading mb-5 text-center"> <b> Signup Into Your Account </b></h4>
                    <h6 class="sideheading">Please create your account by filling below <br> details</h6>
                    <div class="row px-3"> <label class="mb-1">
                    </label> <input class="mb-4" type="text" name="fullName" placeholder="Full Name"> </div>
                    <div class="row px-3"> <label class="mb-1">
                        </label> <input class="mb-4" type="text" name="email" placeholder="Email"> </div>
                    <div class="row px-3"> <label class="mb-1">
                        </label> <input class="mb-4" type="password" name="password" placeholder="Password"> </div>
                    <div class="row px-3"> <label class="mb-1">
                        </label> <input type="password" name="confirmPassword" placeholder="Confirm Password"> </div>
                   
                    
                    
                </div>
            </div>
        </div>
    </div>
</div> -->

<div
  style="width: 100%; padding-right: 0 !important;"
  class="container-fluid"
>
  <div style="display: flex; width: 100%" class="row no-gutter">
    <!-- The image half -->

    <!-- The content half -->
    <div
      class="bg-dark"
      style="
        float: left;
        width: 58%;
        display: flex;
        flex-direction: column;
        height: 100vh;
      "
    >
      <div
        style="
          margin-top: 5%;
          width: 90%;
          text-align: right;
          padding-top: 4%;
          z-index: 1000;
        "
      >
        <p style="cursor: pointer" class="leftl" [routerLink]="['/login']">
          Login
        </p>
      </div>
      <div
        style="margin-top: -11%"
        class="login d-flex align-items-center py-5"
      >
        <!-- Demo content-->
        <div class="container">
          <div style="padding-left: 14%" class="row">
            <div class="col-lg-10 col-xl-9 mx-auto">
              <h6 class="display-5">Signup</h6>
              <p class="mb-4 text-ui">
                Give us some of your information to get access to <br />
                DocMachine.
              </p>
              <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div class="form-group mb-3">
                  <label>Name</label>
                  <input
                    id="fullName"
                    type="name"
                    formControlName="fullName"
                    placeholder="Your Full Name"
                    required=""
                    autofocus=""
                    class="
                      form-control
                      rounded-pill
                      border-0
                      shadow-sm
                      px-4
                      fullName
                    "
                  />
                </div>
                <div class="form-group mb-3">
                  <label>Email</label>
                  <input
                    id="inputEmail"
                    formControlName="email"
                    type="email"
                    placeholder="Your Email"
                    required=""
                    class="
                      form-control
                      rounded-pill
                      border-0
                      shadow-sm
                      px-4
                      email
                    "
                  />
                </div>

                <div class="form-group mb-3">
                  <label>Password</label>
                  <input
                    formControlName="password"
                    id="password"
                    type="password"
                    placeholder="Your Password"
                    required=""
                    class="
                      form-control
                      rounded-pill
                      border-0
                      shadow-sm
                      px-4
                      password
                      password1
                    "
                  />
                </div>

                <div class="form-group mb-3">
                  <label>Email</label>
                  <input
                    formControlName="confirmPassword"
                    id="password"
                    type="password"
                    placeholder="Confirm Your Password"
                    required=""
                    class="
                      form-control
                      rounded-pill
                      border-0
                      shadow-sm
                      px-4
                      password
                      password1
                    "
                  />
                </div>
                <p class="text-muted mb-4 bottom-text">
                  You continuing, you agree to DocMachine
                  <a href="">Term of service</a> we will manage information as
                  described in our <a href="">privacy policy agrement</a>
                </p>

                <button type="submit" class="btn">Register</button>
              </form>
            </div>
          </div>
        </div>
        <!-- End -->
      </div>
    </div>
    <!-- End -->
    <div
      class="parent"
      style="
        width: 42%;
        display: flex;
        justify-content: center;
        align-items: center;
      "
    >
      <img style="width: 100%" class="image1" src="./assets/Image.png" />
      <img
        class="image2"
        src="./assets/LogoFinal.png"
        style="width: 299px; height: 92px"
      />
    </div>
  </div>
</div>
