<div class="card login-form ">
    <div class="card-body card-content">
        <img height="60px" width="180px" style="margin-left: 30%;"
            src="../../assets/images/2df3c6e3b7dcfda591bf650efe2942d54e8aed0e.png" class="card-title text-center">
        <p class="text">Enter your registered email address so we can share a <br> password reset link to your email
            address.</p>
        <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
            <label class="lable " for="">Enter your email address</label> <br>
            <input formControlName="emailId" class="input-mail" placeholder="Your email address" type="text">
            <br>
            <button type="submit" class="button">Reset my password</button>
        </form>
        <p *ngIf="message" style="color: green; text-align: center;">{{message}}</p>
        <p *ngIf="no" style="color: rgb(255, 0, 0); text-align: center;">User Not found with this emailId</p>
    </div>
</div>
